  .bg-deepred {
  background-color: #aa2247;
  color: whitesmoke;
  }
  
  .bg-coolpink{
  background-color: #ebd5ff;
  }
  
  .bg-blue {
  background-color: #2E86C1;
  }
  
  .bg-coolgreen {
  background-color: #77e2ac;
  }

.bg-bluegradient {
  background: rgb(215,239,255);
  background: linear-gradient(90deg, rgba(215,239,255,1) 0%, rgba(250,235,255,1) 28%, rgba(255,233,248,1) 43%, rgba(249,235,222,1) 93%, rgba(255,243,226,1) 100%);
}

.bg-purplegradient {
  background: rgb(244,235,255);
  background: linear-gradient(140deg, rgba(244,235,255,1) 0%, rgba(195,230,254,1) 36%, rgba(252,236,255,1) 82%, rgba(255,244,224,1) 93%, rgba(255,243,226,1) 100%);
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  background: linear-gradient(to right, rgb(255, 200, 0), pink, rgba(255, 243, 226, 0.027));
  border-radius: 0 0 0 30px ;
}

.footer{
  bottom: 0;
  left: 0;
  width: 30%;
  background: linear-gradient(to left, rgb(255, 200, 0), pink, rgba(255, 243, 226, 0.027));
  border-radius: 0 30px 0 0 ;
}

@media (max-width: 992px) {
  .navbar {
    width: 100%;
    border-radius: 0;
  }
}


button {
  background-color: purple;
  color: white;
  border: 2px solid black;
  border-radius: 30px;
  padding: 10px 20px;
  box-shadow: 5px 5px 0px orange;

  
  
}

button:hover {
  background-color: #6B1F95;
}

button:active {
  background-color: #3D114E;
  box-shadow: none;
}

