  .bg-deepred {
  background-color: #9B1B30;
  color: whitesmoke;
  }
  
  .bg-beige {
  background-color: #F5DEB3;
  }
  
  .bg-blue {
  background-color: #2E86C1;
  }
  
  .bg-green {
  background-color: #00FF7F;
  }
